In [1]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\ravik\appdata\local\programs\python\python311\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ravik\appdata\local\programs\python\python311\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\ravik\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\users\ravik\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [4]:


url= "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/india-vs-australia-final-1384439/full-scorecard"

source = requests.get(url)

soup = bs(source.text,"lxml")

b_d = soup.find("thead").find_all("th")

batt = [i.text for i in b_d]

df1 = pd.DataFrame(columns = batt)

df1["country"] = None

df1["battingPos"] = None

df1["match id"] = None

ids = []

for i in range(4658,4706):

  ids.append("ODI # {}".format(i))

count = 0


for i in range(392,440):

  url = "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/india-vs-new-zealand-1st-semi-final-1384{}/full-scorecard".format(i)

  source = requests.get(url)

  soup = bs(source.text,"html.parser")

  b_d = soup.find("tbody").find_all("tr",class_="")

  count +=1

  c = 0

  for i in b_d:

    data = i.find_all("td")

    batting = [j.text for j in data]

    bat = soup.find("span",class_="ds-text-title-xs ds-font-bold ds-capitalize").text

    c += 1

    batting.append(bat)

    batting.append(c)

    batting.append(ids[count-1])

    l = len(df1)

    if len(batting) == len(df1.columns):


      df1.loc[l] = batting

  b_d1 = soup.find_all("tbody")[2].find_all("tr",class_="")

  c1 = 0

  for i in b_d1:

    data1 = i.find_all("td")

    batting1 = [j.text for j in data1]

    bat1 = soup.find_all("span",class_="ds-text-title-xs ds-font-bold ds-capitalize")[1].text

    c1 += 1

    batting1.append(bat1)

    batting1.append(c1)

    batting1.append(ids[count-1])

    l = len(df1)

    if len(batting1) == len(df1.columns):

      df1.loc[l] = batting1

col = df1.pop("country")

df1.pop("M")

col1 = df1.pop("battingPos")

df1.insert(0,"country",col)

df1.insert(1,"battingPos",col1)

df1.rename({"\xa0":"dismissal"},axis = 1, inplace = "True")

df1.loc[~df1['dismissal'].str.contains('not out', case=False), 'dismissal'] = 'out'


special_char = {"\xa0":"","Ã¢â‚¬":"","â€ ":""}

df1["BATTING"] = df1["BATTING"].replace(special_char,regex=True)

df1.to_csv("batting details.csv",index=None)



df1

,country,battingPos,BATTING,dismissal,R,B,4s,6s,SR,match id
0,England,1,Jonny Bairstow,out,33,35,4,1,94.28,ODI # 4658
1,England,2,Dawid Malan,out,14,24,2,0,58.33,ODI # 4658
2,England,3,Joe Root,out,77,86,4,1,89.53,ODI # 4658
3,England,4,Harry Brook,out,25,16,4,1,156.25,ODI # 4658
4,England,5,Moeen Ali,out,11,17,1,0,64.70,ODI # 4658
...,...,...,...,...,...,...,...,...,...,...
871,Australia,2,Travis Head,out,137,120,15,4,114.16,ODI # 4705
872,Australia,3,Mitchell Marsh,out,15,15,1,1,100.00,ODI # 4705
873,Australia,4,Steven Smith,out,4,9,1,0,44.44,ODI # 4705
874,Australia,5,Marnus Labuschagne,not out,58,110,4,0,52.72,ODI # 4705
875,Australia,6,Glenn Maxwell,not out,2,1,0,0,200.00,ODI # 4705